/*信息表格*/
.table {
    border: 1px solid #e5e9ee;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #e5e9ee;
    color: #a7abb4;
}

.table td {
    color: #a7abb4;
}

.table td:nth-child(2) a {
    color: #2a2d2e;
}

.table td:nth-child(2) a:hover {
    text-decoration: none;
}

.table label {
    margin-bottom: 0px;
}

/*信息修改*/
.form-horizontal .infor {
    line-height: 34px;
    margin-bottom: 0px;
    margin-left: 15px;
    font-weight: normal;
}

.infor_ico {
    display: inline-block;
    width: 30px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    margin-right: 16px;
}

.infor_company {
    background-image: url("../img/infor_company.png");
}

.infor_code {
    background-image: url("../img/infor_code.png");
}

.infor_address {
    background-image: url("../img/infor_address.png");
}

.infor_email {
    background-image: url("../img/infor_email.png");
}

.infor_call {
    background-image: url("../img/infor_call.png");
}

.infor_tele {
    background-image: url("../img/infor_tele.png");
}

.infor_user {
    background-image: url("../img/infor_user.png");
}

.infor_link {
    background-image: url("../img/infor_link.png");
}

/*资金账户*/
.well {
    margin-top: 50px;
    overflow: hidden;
}

.mycount_money {
    color: #3399cc;
}

.mycount_left {
    color: #009900;
}

.mycount_left:after, .mycount_right:after {
    color: #666666;
    font-size: 14px;
    content: "RMB";
}

.mycount_right {
    color: #cc6600;
}

.mycount {
    margin: 0px;
    margin-top: 14px;
}

#mycount_more {
    margin-top: 20px;
}

.mycount_exp {
    width: 110px;
}

.mycount_table > tbody > tr > td {
    color: #2a2d2e;
}

.mycount_table .btn {
    padding: 0px;
    width: 86px;
}

/*收藏*/
.things_selector {
    overflow: hidden;
}

.selector_list {
    overflow: hidden;
    padding-top: 1px;
}

.selector_list li {
    float: left;
    height: 26px;
    margin-right: 22px;
    margin-bottom: 10px;
}

.selector_list li a {
    color: #666666;
    text-decoration: none;
    height: 20px;
    line-height: 20px;
}

li a.type_active, li a.style_active {
    padding: 0 8px;
    border-radius: 3px;
    background: #448cca;
    color: #ffffff;
}

.collect_list{
    overflow: hidden;
}

.collect_list li{
    float: left;
    margin-bottom: 18px;
    margin-right: 14px;
    width: 140px;
}
.collect_img{
    margin-bottom: 10px;
}

.collect_img img{
    width: 140px;
    height: 100px;
    border: 1px solid #e5e9ee;
}

.collect_title{
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.collect_title a{
    color:#3c3c3c;
    text-decoration: none;
}
.collect_body{
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.collect_pay{
    display: inline-block;
    color: #ff4400;
    margin-right: 2px;
}
.collect_cost{
    display: inline-block;
    color: #9c9c9c;
    text-decoration: line-through;
}

.collect_type{
    display: inline-block;
    color: #ffffff;
    border-radius: 50%;
    background: #f9b800;
    padding: 0px 3px;
    font-weight: bold;
    margin-right: 2px;
}
.type_c{
    background: #f9b800;
}
.type_b{
    background: #ea2e23;
}
.type_j{
    background: #15c3b4;
}
.cash_padding{
    padding-right: 2px;
}